.content-grid {
    height: calc(100vh - 68px - 22px);
    grid-column: 2;
    grid-row: 2;
    overflow: auto;
}

@media (max-width: 600px) {
    .content-grid {
        height: calc(100vh - 48px - 16px);
        grid-column: 1;
    }
}